@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    background-color:#f5f5f5;
}  
:root{
    --main-color:#a5190e;
    --sec-color:#f7b11b;
   --text-color:#252525;
   --bg-color: linear-gradient(90deg,var(--main-color),#e84118,var(--sec-color),#fde229);
}
::-webkit-scrollbar {
    width: 7px;
  }
::-webkit-scrollbar-track {
    background: var(--sec-color);
    
  }
::-webkit-scrollbar-thumb {
    background: var(--main-color); 
  } 
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
  /* .reveal.active.fade-right{
      animation: fade-right 1s ease;
    opacity: 1;
  }
  @keyframes fade-right {
      form{ transform: translateX(-150px);}
      to{ transform: translateX(0);}
  } */
/* ////////////////Main Content + Header (1) //////////////// */
#main__content{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url(./img/mainbg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
.main__content-header{
    min-height: 120px;
    width: 100%;
}
  /* Header */
.header__nav{
    background-color:rgba(0,0,0,0.5);
  }
.header__mobile{
      display: none;
  }
.box{
  
    display: flex;
    justify-content:space-between;
    width: 1200px;
    max-width: 100%;
    margin:0 auto;
}
.main__socialbar{
    display: flex;
    align-items: center;
    
}
.new-header{
    display:none;
}
.social-tag{
    padding:10px;
}

.social-tag i{
    color:white;
    font-size:15px
}
.facebook:hover{
    background-color:#4867aa;
   
}
.twitter:hover{
    background-color:#1d9bf0;
   
}
.instagram:hover{
    background-image: linear-gradient(#7739a9,#f1a847);
   
}
.youtube:hover{
    background-color:#f00;
   
}
.search i{
    color:white;
    font-size:15px
}
.overlay-search{
    position:fixed;
    z-index: 11;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.7);
    display:flex;
    align-items:center;
    display:none;
}
.box-search{
    width: 100%;
    max-width:800px;
    margin:0 auto;
  z-index: 11;
  display:flex;
  position: relative;
}
.x-search{
    color: var(--sec-color);
    font-size:50px;
    position:absolute;
    right:0;
    top: -200px;
    cursor: pointer;
    transition:0.2s ease;
}
.x-search:hover{
    transform: rotate(30deg);
}
.box-search input{
    height: 50px;
    padding-left: 5px;
    width: 100%;
    border-radius: 25px;
}
.box-search input:focus{
    outline: none;
}
.box-search button{
    color:white;
    background-image: var(--bg-color);
    padding: 10px 18px;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    font-size:15px;
    transition:0.5s ease-out;
}
.main__info-link{
    color:white;
    text-decoration: none;
    margin-right: 20px;
   
}
.main__info{
    display: flex;
    align-items: center;
    margin-right: 10px;
    position: relative;
}
.main__info-item{
    margin-right: 20px;
}
.logo{
    width: 100%;
    height: 100px;
    transition:1s;
}
.scale-logo{
    width: 100%;
    height: 60px;
}
.header-info{
    width: 100%;
}

.header__list{
    display:flex;
    align-items:center;
}
.header__list-item{
    list-style: none;
    padding: 10px 0 10px 10px;

}
.nav-icon{
    display:none;
}
.header__list-link{
    position: relative;
    display: block;
    text-decoration: none;
    margin: 5px 10px;
    color:white;
    font-size:20px;
    font-weight: 400;
}
.header__list-link::after{
    content: '';
    position: absolute;
    width: 100%;
    height:2px;
    top:100%;
    left:0;
    background-image: var(--bg-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s ease-out;
}
.header__list-link:hover:after{
    transform: scaleX(1);
}
.sticky{
    position:fixed;
    top: 0;
    width: 100%;
    background-color:white;
    transition:1s;
    animation: fade;
    z-index: 10;
    box-shadow: 0px 1px 4px #888888;
}
@keyframes fade{
    form{opacity: 0;}
    to{opacity:1;}
}
.sticky-link{
    color:var(--main-color)
}
.main__content-text{
    margin-top:100px;
    text-align: center;
    animation:up 1s ease-out;
}
@keyframes up{
    from{
        transform:translateY(150px);
        opacity: 0;
    }
    to{transform:translateY(0);
        opacity: 1;
    }
}
.main__text-heading{
    color:white;
    font-size:110px;
    text-transform:uppercase;
    text-shadow: 2px 2px 8px var(--main-color);
     font-family: 'Dancing Script', cursive;
}

.main__text-info{
    color:white;
    font-size:25px;
    text-shadow: 2px 2px 8px var(--sec-color);
    font-family: 'Dancing Script', cursive;
}
.main__text-down{
    display:block;
    color:white;
    font-size:40px;
    margin-top: 40px;
    position: relative;
    top:0;
    transition:top 0.5s ease-out;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.main__text-down:hover{
    top:20px;
}
.main__content-stop{
    position:absolute;
    bottom:10px;
    right: 20px;
}
.main__content-stop i{
    color:white;
    font-size:25px;
    filter:brightness(80%);
    transition:0.5s;
}
.main__content-stop i:hover{
    filter:brightness(100%);
    cursor: pointer;
}
.back-link{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--sec-color);
    border-radius: 999px;
    height: 50px;
    width: 50px;
    text-align: center;
    display:none;
    z-index: 9;
}
.back-link i{
    color:white;
    line-height:50px;
}
/* //////////////////////////////// */
/* ////////////////Main(2) //////////////// */
#main__live-heading{
    font-size:35px;
    text-align: left;
    color:var(--sec-color);
    text-transform: uppercase;
    padding:40px 0 8px 0;
}
.main__live-wrapper{
    width: 1200px;
    max-width: 100%;
    margin:0 auto;
    display: flex;
    padding: 50px 0;
}
.main__live-text{
    font-size:20px;
    text-align: left;
    color:var(--text-color);
    line-height: 28px;
    font-weight:300;
}
.main__live-images{
    position: relative;
}
.main__live-img1{
    height:80%;
    position: relative;
    z-index: 2;
    box-shadow: 5px 5px 5px #888888;
}
.main__live-img2{
    height:50%;
    position:absolute;
    z-index: 2;
    bottom:0;
    left: 65%;
    box-shadow: 5px 5px 5px #888888;
}
/* ////////////////Main(3) //////////////// */
.main__tours{
    background-image: var(--bg-color);
    position: relative;
    padding-top: 110px;
    padding-bottom: 110px;
}
.main__tour-bg{
    background-image: url(img/bien.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}
.main__tour-box{
    background-color:white;
    width: 1200px;
    max-width: 100%;
    margin:0 auto;
    position: relative;
    padding-top:80px;
    padding-bottom:195px;
}
.main__tour-box-heading{
    font-size:35px;
    text-align: center;
    color:var(--sec-color);
    text-transform: uppercase;
}
.box-star{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
.checked{
    color:#ff9900;
}
.checked:nth-child(1){
    color:#ffff80;
}
.checked:nth-child(2){
    color:#ffff1a;
}
.checked:nth-child(3){
    color:#ffcc66;
}
.checked:nth-child(4){
    color: #ffb31a;
}
.main__tour-quote{
    text-align:center;
    color:var(--text-color);
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
}
.main__tour-btn{
    position:absolute;
    left: 50%;
    margin-top: 60px;
    transform: translateX(-50%);
    background-image: var(--bg-color);
    border-radius:999px;
    cursor: pointer;
    transition:0.5s ease;
    padding: 0 50px;
    background-size: 200%;
}
.main__tour-btn:hover{
    box-shadow: 2px 2px 2px #888888;
    filter: brightness(120%);
    background-position: right;
}
.main__tour-link{
    color: white;
    text-decoration: none;
    line-height:50px;
    display:block;
}
/* ////////////////Main(4) //////////////// */
.main__places-wrapper{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}
.main__places-heading{
    font-size:35px;
    text-align: center;
    color:var(--sec-color);
    text-transform: uppercase;
}
.main__places-row{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main__places-flex{
    margin-top:30px;
    flex-basis: 49%;
   background-color: white;
   transition: box-shadow 0.5s ease-out;
}
.main__places-flex:hover{
    box-shadow: 2px 2px 20px #888888;
}
.main__places-content{
    margin-left: 20px;
    padding: 10px 10px 15px 0;
}
.main__places-img{
    background-position: center ;
    background-repeat:no-repeat;
    background-size: cover;
    height:300px;
    width: 100%;
  
}
.main__places-des{
    font-size:30px;
    color:var(--sec-color);
    
}
.main__places-city{
    font-size:15px;
    color:var(--main-color);
}
.des-star{
    margin-top:10px;
    
}
.main__places-info{
    font-size:15px;
    line-height:25px;
    font-weight: 300;
    color:var(--text-color);
    margin-top:30px;
}
.main__places-link{
    color:var(--main-color);
    display: block;
    font-size:15px;
    margin-top: 40px;
}
.main__more-heading{
    font-size:20px;
    margin-top: 40px;
    color:var(--sec-color);
    position: relative;
    
}
.main__more-heading::after{
    content: '';
    position:absolute;
    top: 100%;
    left: 15px;
    width: 80px;
    height:2px;
    background-image: var(--bg-color);
}

/* slide effect coverflow */
.swiper {
    width: 100%;
    padding-top: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    position: relative;
    /* -webkit-box-reflect:below 1px linear-gradient(transparent,transparent,#0006);  */
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  .carousel-overlay{
      position:absolute;
      width: 100%;
      bottom: 0;
  }
  .carousel-box{
    background-color: black;
    opacity: 0.5;
    width: 100%;
    padding:30px;
  }
  .carousel-places{
      position:absolute;
      left:50%;
      top: 0;
      transform:translateX(-50%);
  }
  .carousel-places h2{
      color:white;
      font-weight:300;
      font-size:20px;
      line-height:60px;
  }
  /* ////////////////Main(5) //////////////// */
  .main__todo{
    background-image: var(--bg-color);
    position: relative;
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .main__todo-box{
    width: 1200px;
    max-width: 100%;
    margin:0 auto;
    position: relative;
}
  .main__todo-bg{
    background-image: url(img/todo.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}
.main__todo-box-heading{
    font-size:35px;
    text-align: center;
    color:white;
    text-transform: uppercase;
}
.main__todo-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main__todo-item{
    margin-top: 50px;
    flex-basis: 33.33%;
    text-align: center;
}
.main__todo-item i{
    color:white;
    font-size:80px;
    transition:transform 1s ease;
}
.main__todo-item i:hover {
    transform: scale(1.2) rotate(10deg);
}
.main__todo-link{
    display:block;
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size:25px;
    margin-top: 10px;
}
/* ////////////////Main(6) //////////////// */
.main__evaluate{
    background-color: white;
}
.main__evaluate-wrapper{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    overflow: hidden;
}
.main__evaluate-heading{
    font-size: 35px;
    text-align: center;
    color: var(--sec-color);
    text-transform: uppercase;
}
.main__evaluate-cus{
    text-align: justify;
    margin-top: 20px;
}
.main__evaluate-box{
    display:flex;
    justify-content: space-between;
    margin-top:30px;
}
.main__evaluate-illustration img{
    width: 118%;
    height: 100%;
}
.main__evaluate-img{
    background-image: url(img/tra1.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height:200px;
    width: 100%;
    background-color: var(--main-color);
    border-radius: 10px;
}
.evaimg1{
    background-image: url(img/tra2.jpg);
    background-position: center;
}
.evaimg2{
    background-image: url(img/tra3.jpg);
}
.main__evaluate-info{
    padding:10px 0;
}
.main__evaluate-name{
    font-size:20px;
    color:var(--sec-color);
}
.main__evaluate-from{
    color:var(--main-color);
}
.main__evaluate-p{
    font-weight: 300;
}
/* ////////////////Footer //////////////// */
.footer{
    background-color:#ffeaa7;
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;
    max-width: 100%;
    margin:0 auto;
    color:var(--text-color);
    padding-top: 30px;
    padding-bottom:10px;
}
.footer__form-name{
    color: var(--sec-color);
    text-transform: uppercase;
}
.footer__form-note{
    color: var(--main-color);
}
.footer__form-input{
    height: 50px;
    margin-top:5px;
    padding-left: 5px;
    width: 100%;
}
.footer__form-btn{
    color:white;
    background-image: var(--bg-color);
    padding: 10px 50px;
    margin-top: 5px;
    border-style: none;
    cursor: pointer;
    font-size:15px;
    transition:0.5s ease-out;
}
.footer__form-btn:hover{
    box-shadow: 2px 2px 2px #888888;
    filter: brightness(120%);
}
.footer__lists{
    margin-top:20px;
}
.footer__list{
    list-style: none;
}
.footer__links{
    color: var(--main-color);
    text-decoration: none;
    transition: 0.2s ease-out;
    display: block;
    padding: 8px 0;
}
.footer__links:hover{
    color: var(--sec-color);
}
.footer__logo{
    height: 100px;
}
.footer__info{
    color: var(--main-color);
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
.footer__name{
    color: var(--main-color);
    margin-top: 5px;
    font-weight: 400;
}
.footer__copyrighted{
    margin-top: 50px;
    width: 100%;
}
.footer__copyrighted a{
    text-align: center;
    display: block;
    color:var(--main-color);
    text-decoration: none;
}
@keyframes showUp {
    from{
    right: -300px;
    opacity: 0.9;
}
    to{
    right:0;
    opacity:1;
}
}
/* ////////////////Responsive //////////////// */
/* Tablet */
@media only screen and (min-width: 739px) and (max-width: 1023px)  {
    /* Header */
    .nav-overlay{
        position:fixed;
        top: 0;
        bottom:0;
        right:0;
        left: 0;
        background-color:rgba(0, 0, 0, 0.7);
        z-index: 11;
        display: none;
    }
    .header__mobile-list{
        list-style: none;
    }
    .header__mobile-list i{
        color:var(--main-color);
        font-size: 50px;
        position:absolute;
        right:10px;
        top: 8px;
    }
    .header__mobile-item{
        margin-top:40px;
        padding:10px 10px;
    }
    .header__mobile-link{
        text-decoration: none;
        color:var(--main-color);
        font-weight: 400;
        font-size: 30px;
        
    }
    .header__mobile{
        display:none;
        position:fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color:#ffeaa7;
        width: 350px;
        max-width: 100%;
        z-index: 12;
        animation: showUp 0.5s linear;
    }
    .header__nav{
        display:none;
    }
    .header-info{
        background-color: white;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    .nav-icon{
        display:block;
        text-decoration: none;
    }
    .new-header{
        display:flex;
    }
    .header__list-link{
        color:var(--main-color);
    }
    .nav-icon i{
        color:var(--main-color);
        padding:0 10px;
        line-height:50px;
        font-size:30px;
    }
    .header__list{
        display:none;
    }
    /* Live */
    .main__live-info{
        margin-left: 20px;
    }
    .main__live-img1{
        height: 260px;
    position: relative;
    z-index: 2;
    box-shadow: 5px 5px 5px #888888;
    }
    .main__live-img2{
        height: 100px;
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        box-shadow: 5px 5px 5px #888888;
    }
    .footer__wrapper{
        padding:0 10px;
    }
 }
/* Mobile */
@media only screen and (max-width: 739px) {
    .nav-overlay{
        position:fixed;
        top: 0;
        bottom:0;
        right:0;
        left: 0;
        background-color:rgba(0, 0, 0, 0.7);
        z-index: 11;
        display: none;
    }
    .header__mobile-list{
        list-style: none;
    }
    .header__mobile-list i{
        color:var(--main-color);
        font-size: 50px;
        position:absolute;
        right:10px;
        top: 8px;
    }
    .header__mobile-item{
        margin-top:40px;
        padding:10px 10px;
    }
    .header__mobile-link{
        text-decoration: none;
        color:var(--main-color);
        font-weight: 400;
        font-size: 30px;
        
    }
    .header__mobile{
        display:none;
        position:fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color:#ffeaa7;
        width: 350px;
        max-width: 100%;
        z-index: 12;
        animation: showUp 0.5s linear;
    }
    .main__live-info{
        padding: 0 10px;
    }
    .main__live-img1{
        display:none;
    }
    .main__live-img2{
        display:none;
    }
    .header__nav{
        display:none;
    }
    .header-info{
        background-color: white;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    .nav-icon{
        display:block;
        text-decoration: none;
    }
    .new-header{
        display:flex;
    }
    .header__list-link{
        color:var(--main-color);
    }
    .nav-icon i{
        color:var(--main-color);
        padding:0 10px;
        line-height:50px;
        font-size:30px;
    }
    .header__list{
        display:none;
    }
    .main__places-flex{
        flex-basis: 100%;
    }
    .main__evaluate-box{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    .main__evaluate-info{
        text-align: center;
    }
    .main__evaluate-img{
        border-radius: 0px;
    }
    .footer__item{
        padding:15px 0;
       flex-basis: 100%;
       text-align: center;
    }
 }

  
